@import 'themes';

.logo-iasd {
  position: fixed;
  width: 5.5rem;
  z-index: 0.2;
  bottom: 0.1rem;
}

.right {
  right: 0.1rem;
}

.left {
  left: 0.1rem;
}

/* Por debajo de 1024px */
@media screen and (max-width: 1024px){
  .logo-iasd {
    position: fixed;
    z-index: 0.1;
    left: 50%;
    right: 50%; 
  } 

  .logo-iasd{
    position: fixed;
    top:55%;
    left:50%;
    width:100px;
    margin-left:-50px;
    height:100px;
    margin-top:170px;
  }
}